<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackCompose_Guide"
        tools:targetApi="31">
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".CardActivity"
            android:exported="false"
            android:label="@string/title_activity_card"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".Buttons"
            android:exported="false"
            android:label="@string/title_activity_buttons"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:label="@string/title_activity_log_in"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".InputTextActivity"
            android:exported="false"
            android:label="@string/title_activity_input_text"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".SimpleText"
            android:exported="false"
            android:label="@string/title_activity_simple_text"
            android:theme="@style/Theme.JetPackCompose_Guide" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetPackCompose_Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>